.bg-img{
    background: url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=1380&t=st=1663353346~exp=1663353946~hmac=6f107b9c7eff8af9e7af93d5ab6d7fe1ebd2cf1bdd00fef83d3d43d8d61aff5b);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.layout {
    width: 25rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.login_btn {
    color: black;
    background-color: #ffc312;
    width: 100%;
    font-weight: 600;
    height: 2.3rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

label {
    font-weight: 600;
    font-size: 18px;
}

.input-field{
    height: 2.3rem;
}

