.layout {
    width: 25rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.login_btn {
    color: black;
    background-color: #ffc312;
    width: 100%;
    font-weight: 600;
    height: 2.3rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

label {
    font-weight: 600;
    font-size: 18px;
}

.input-field{
    height: 2.3rem;
}